@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-accent leading-loose;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}

/* custom table */

.custom-table-container {
  max-width: 100%;
  overflow-x: auto;
}

.custom-table {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}
.custom-table th {
  position: sticky;
  top: 0;
  background-color: white;
}

.custom-table td,
.custom-table th {
  /* vertical-align: top; */
  color: #545454;
}

.custom-table thead tr {
  border-bottom: 4px solid #f9f9f9;
  text-align: left;
  font-weight: bold;
}

.custom-table thead tr th,
.custom-table tbody tr td {
  padding: 10px 15px;
}

.custom-table tbody tr {
  border-bottom: 2px solid #f9f9f9;
  text-align: left;
}

/* scrollbars */

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(235, 234, 234);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6e6e6e;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #747373f3;
}
